<ng-container *ngIf="product$ | async as product">
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{ product.title }} </mat-card-title>
      <mat-card-subtitle
        >{{ product.brand }} {{ product.category }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="container flex">
        <p>{{ product.description }}</p>
        <p>{{ product.price }}$</p>
        <p>{{ product.discountPercentage }} %</p>
      </div>
      <ng-container *ngFor="let image of product.images">
        <img mat-card-sm-image src="{{ image }}" alt="{{ product.title }}" />
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-container>
